:root {
    --color-bg-dark: #0b0c10;
    --color-bg-light: #12161b;
    --color-text-primary: #929598;
    --color-text-heading: #ffffff;
    --color-accent-blue: #45a29e;
    --color-border: #30336b;


    --bg: #030410;
    --sun-outer: #ffdf8c;
    --sun-core: #ffb528;
    --orbit: rgba(255, 255, 255, 0.04);
    --label: #cbd7ea;
}


#planets .planets-description {
    text-align: center;

}

.planets-description h2 {
    color: var(--color-accent-blue);
    font: 2rem;
    margin: 30px 0;

}

.planets-description p {
    color: var(--color-text-heading);
    margin: 0 50px;
}



.planet-cont {
    background-color: var(--color-bg-light);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    padding: 20px 10px;
}

.planets {
    width: 90%;
    border: 2px solid blue;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;

}

.planets:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.planets div {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.planets h3 {
    color: var(--color-accent-blue);
    margin: 30px 0px;
}

.planet-cont img {
    max-width: 400px;
    width: 300px;
    max-height: 400px;
    height: 300px;
    border-radius: 19px;
}

.planets div ul {
    list-style-type: circle;
}

.planets div ul li {
    margin-top: 10px;
}